/* Base */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Component */
/* Basic Setting */
::-moz-selection {
  background-color: #676767;
  color: #FEFEFE;
}
::selection {
  background-color: #676767;
  color: #FEFEFE;
}

/* Text Type */
.basicText, .subTitle {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #FEFEFE;
}

.subTitle {
  font-size: 20px;
}

/* Property */
.screenBackground {
  background-color: #191919;
  width: 100%;
  height: 100%;
}

.unSelectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.icon {
  width: 44px;
  height: 44px;
}

/* Animation */
/* Screen */
body.index {
  width: 100%;
  height: 100%;
  position: absolute;
}
body.index .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.index .screenBackground .centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.index .screenBackground .centerBox .logo {
  width: 14vw;
  margin-top: 10vh;
  margin-bottom: 13vh;
}
body.index .screenBackground .centerBox .logo:hover {
  cursor: pointer;
}
body.index .screenBackground .centerBox a {
  margin-left: 70px;
  margin-right: 70px;
  text-decoration: none;
}
body.index .screenBackground .centerBox a:hover {
  text-decoration: underline;
  font-weight: 600;
}

body.intro {
  width: 100%;
  height: 100%;
  position: absolute;
}
body.intro .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.intro .screenBackground .header {
  width: 67%;
  margin-top: 64px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}
body.intro .screenBackground .mainTextBox {
  width: 67%;
  margin-top: 64px;
  background-color: red;
}/*# sourceMappingURL=style.css.map */