/* Base */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
regular: 400
semi-bold: 600
bold: 700
*/
/* Component */
/* Basic Setting */
::-moz-selection {
  background-color: #676767;
  color: #FEFEFE;
}
::selection {
  background-color: #676767;
  color: #FEFEFE;
}

b {
  font-weight: 700;
}

a {
  text-decoration: none;
}

/* Text Type */
.basicText {
  font-family: "Pretendard Variable, sans-serif";
  font-size: 16px;
  color: #FEFEFE;
}

.smallText {
  font-family: "Pretendard Variable, sans-serif";
  font-size: 14px;
  color: #AEAEAE;
  line-height: 150%;
}

.subTitle {
  font-family: "Pretendard Variable, sans-serif";
  font-size: 20px;
  color: #FEFEFE;
}

.linkText a, .linkText .a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.linkText a:hover, .linkText .a:hover {
  cursor: pointer;
}
.linkText a span, .linkText .a span {
  font-family: "Pretendard Variable, sans-serif";
  font-size: 14px;
  color: #FAF0DC;
}
.linkText a img, .linkText .a img {
  width: 5px;
  height: 10px;
  margin-left: 8px;
  margin-bottom: 2px;
}
.linkText a .imgDown, .linkText .a .imgDown {
  width: 10px;
  height: 5px;
}

/* Property */
.screenBackground {
  background-color: #191919;
  width: 100%;
  height: 100%;
}

.unSelectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.icon {
  width: 44px;
  height: 44px;
}

.smallIcon {
  width: 40px;
  height: 40px;
}

.bigIcon {
  width: 100px;
  height: 100px;
}

.header {
  width: 67vw;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

/* Animation */
/* Screen */
body.index {
  width: 100%;
  height: 100%;
  position: absolute;
}
body.index .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.index .screenBackground .centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.index .screenBackground .centerBox .logo {
  width: 14vw;
  margin-top: 10vh;
  margin-bottom: 13vh;
}
body.index .screenBackground .centerBox .logo:hover {
  cursor: pointer;
}
body.index .screenBackground .centerBox a {
  margin-left: 70px;
  margin-right: 70px;
}
body.index .screenBackground .centerBox a:hover {
  text-decoration: underline;
  font-weight: 600;
}

body.intro {
  width: 100%;
  height: auto;
  position: absolute;
}
body.intro .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.intro .screenBackground .introSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
body.intro .screenBackground .introSection .mainTextBox {
  width: 67vw;
  margin-top: 172px;
}
body.intro .screenBackground .introSection .mainTextBox .textBox {
  margin-bottom: 32px;
}
body.intro .screenBackground .introSection .mainTextBox .textBox:nth-child(2) {
  margin-bottom: 64px;
}
body.intro .screenBackground .introSection .mainTextBox .textBox p {
  margin-bottom: 16px;
}
body.intro .screenBackground .introSection .bottomBox {
  width: 67vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 64px;
}
body.intro .screenBackground .introSection .bottomBox .iconBox a {
  margin-left: 8px;
}
body.intro .screenBackground .abilitySection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}
body.intro .screenBackground .abilitySection .mainTextBox {
  width: 67vw;
  margin-top: 140px;
}
body.intro .screenBackground .abilitySection .mainTextBox .textBox {
  margin-bottom: 120px;
}
body.intro .screenBackground .abilitySection .mainTextBox .textBox .iconBox {
  display: flex;
}
body.intro .screenBackground .abilitySection .mainTextBox .textBox .iconBox i {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 44px;
  color: #CCCCCC;
}
body.intro .screenBackground .abilitySection .mainTextBox .textBox .bottomSpacingBasicText {
  margin-bottom: 16px;
}
body.intro .screenBackground .abilitySection .bottomBox {
  width: 67vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 40px;
  margin-bottom: 64px;
}
body.intro .screenBackground .certificateSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
body.intro .screenBackground .certificateSection .certificateBox, body.intro .screenBackground .certificateSection .languageBox {
  width: 67vw;
}
body.intro .screenBackground .certificateSection .certificateBox .title, body.intro .screenBackground .certificateSection .languageBox .title {
  margin-bottom: 32px;
}
body.intro .screenBackground .certificateSection .certificateBox .items, body.intro .screenBackground .certificateSection .languageBox .items {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
body.intro .screenBackground .certificateSection .certificateBox .items .item, body.intro .screenBackground .certificateSection .languageBox .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 90px;
  margin-right: 32px;
  margin-bottom: 32px;
  position: relative;
}
body.intro .screenBackground .certificateSection .certificateBox .items .item img, body.intro .screenBackground .certificateSection .languageBox .items .item img {
  position: absolute;
  width: 100%;
  height: 100%;
}
body.intro .screenBackground .certificateSection .certificateBox .items .item .itemTextBox, body.intro .screenBackground .certificateSection .languageBox .items .item .itemTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
body.intro .screenBackground .certificateSection .certificateBox .items .item .itemTextBox .smallText, body.intro .screenBackground .certificateSection .languageBox .items .item .itemTextBox .smallText {
  margin-top: 8px;
  font-size: 12px;
}
body.intro .screenBackground .certificateSection .certificateBox .items .item .itemTextBox .scoreText, body.intro .screenBackground .certificateSection .languageBox .items .item .itemTextBox .scoreText {
  font-size: 12px;
  margin-top: 4px;
}
body.intro .screenBackground .certificateSection .certificateBox {
  margin-top: 140px;
  margin-bottom: 88px;
}
body.intro .screenBackground .certificateSection .bottomBox {
  width: 67vw;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 64px;
}
body.intro .screenBackground .valuesSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
body.intro .screenBackground .valuesSection .mainTextBox {
  width: 67vw;
  margin-top: 140px;
}
body.intro .screenBackground .valuesSection .mainTextBox .textBox {
  margin-bottom: 120px;
}
body.intro .screenBackground .valuesSection .mainTextBox .textBox .basicText {
  margin-bottom: 16px;
}
body.intro .screenBackground .valuesSection .mainTextBox .textBox .smallText {
  margin-bottom: 32px;
}
body.intro .screenBackground .valuesSection .mainTextBox .textBox .boxTitle {
  margin-bottom: 32px;
}

body.works {
  width: 100%;
  height: 100%;
  position: absolute;
}
body.works .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.works .screenBackground .centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 77vw;
  height: 100vh;
}
body.works .screenBackground .centerBox .mainContentBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
body.works .screenBackground .centerBox .mainContentBox .topBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .textButtonBox {
  display: flex;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .textButtonBox div:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px;
  color: #CCCCCC;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .textButtonBox .textButton {
  padding-left: 8px;
  padding-right: 8px;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .textButtonBox .textButton:hover {
  cursor: pointer;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .textButtonBox .textButton:last-child {
  color: #8B8B8B;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .circleButtonBox {
  margin-top: 3vh;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .circleButtonBox .buttonGroup {
  display: none;
  justify-content: center;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .circleButtonBox .buttonGroup:nth-child(1) {
  display: flex;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .circleButtonBox .buttonGroup .circleButton {
  width: 8px;
  height: 8px;
  padding: 8px;
}
body.works .screenBackground .centerBox .mainContentBox .topBox .circleButtonBox .buttonGroup .circleButton:hover {
  cursor: pointer;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 6vh;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .arrowButton {
  width: 16px;
  height: 32px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .arrowButton:nth-child(1) {
  padding-right: 8px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .arrowButton:nth-child(2) {
  padding-left: 8px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .arrowButton:hover {
  cursor: pointer;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox {
  width: 67vw;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup {
  display: flex;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup:nth-child(1) .section:nth-child(1) {
  display: flex;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section {
  display: none;
  justify-content: center;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .appIcon {
  width: 39%;
  margin-right: 44px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .textBox {
  width: 39%;
  margin-top: 22px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .textBox .subTitle {
  margin-bottom: 8px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .textBox .smallText {
  margin-bottom: 16px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .textBox .date {
  font-size: 12px;
  margin-bottom: 32px;
}
body.works .screenBackground .centerBox .mainContentBox .bottomBox .contentBox .sectionGroup .section .textBox .linkText {
  display: none;
  margin-top: 32px;
}

body.career {
  width: 100%;
  height: auto;
  position: absolute;
}
body.career .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.career .screenBackground .mainContentBox {
  width: 67vw;
  display: flex;
  justify-content: space-between;
}
body.career .screenBackground .mainContentBox .timelineSection {
  display: flex;
  justify-content: start;
  width: 33.5vw;
  height: 100vh;
  position: fixed;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox {
  width: 100%;
  height: 100%;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .lineBox {
  top: 205px;
  position: relative;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .lineBox .line {
  opacity: 50%;
  position: absolute;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .lineBox .line:nth-child(1) {
  width: 6px;
  height: 438px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .lineBox .line:nth-child(2) {
  width: 6px;
  height: 86px;
  margin-top: 80px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .lineBox .line:nth-child(3) {
  width: 6px;
  height: 86px;
  margin-top: 271px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox {
  width: 80%;
  top: 174px;
  left: 22px;
  position: relative;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox .item {
  opacity: 50%;
  margin-bottom: 36px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox .item .basicText {
  display: inline-block;
  height: 19px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox .item .basicText:hover {
  cursor: pointer;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox .item .date {
  height: 17px;
  font-size: 14px;
  margin-bottom: 7px;
}
body.career .screenBackground .mainContentBox .timelineSection .timelineBox .textBox .item:nth-child(3) {
  margin-bottom: 68px;
}
body.career .screenBackground .mainContentBox .timelinePlaceholder {
  width: 33.5vw;
}
body.career .screenBackground .mainContentBox .contentSection {
  display: flex;
  justify-content: end;
  width: 50%;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox {
  width: 100%;
  min-height: 100vh;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section {
  width: 100%;
  margin-top: 172px;
  display: none;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section .mainImage {
  width: 100%;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section .textBox {
  margin-left: 4px;
  margin-right: 4px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section .textBox .basicText {
  margin-bottom: 16px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section .textBox .smallText {
  margin-bottom: 16px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(1) .textBox:nth-child(2) {
  margin-bottom: 104px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(1) .mainImage:nth-child(1) {
  margin-bottom: 32px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(1) .mainImage:nth-child(4) {
  margin-top: 16px;
  margin-bottom: 120px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(1) .mainImage:nth-child(6) {
  margin-top: 16px;
  margin-bottom: 120px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(2) .mainImage:nth-child(1) {
  margin-bottom: 32px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(2) .imageBox {
  display: flex;
  align-items: center;
  margin-top: 64px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(2) .imageBox img:nth-child(1) {
  width: 100px;
  height: 100px;
  margin-right: 32px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(2) .imageBox img:nth-child(2) {
  width: 244px;
  height: 80px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(3) .imageBox {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(3) .imageBox img:nth-child(1) {
  width: 100px;
  height: 100px;
  margin-right: 16px;
}
body.career .screenBackground .mainContentBox .contentSection .contentBox .section:nth-child(3) .imageBox img:nth-child(2) {
  width: 100px;
  height: 100px;
}

body.intro {
  width: 100%;
  height: auto;
  position: absolute;
}
body.intro .screenBackground {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body.intro .screenBackground .mainSection {
  height: 100vh;
}/*# sourceMappingURL=style.css.map */