body.album {
    width: 100%;
    height: auto;
    position: absolute;

    .screenBackground {
        @include topCenterBox;

        .mainSection {
            @include topCenterBox;
            width: 100%;
            height: auto;;

            div {
                width: $contentWidth;
                position: relative;

                :nth-child(2n + 1) {
                    right: 0px
                }

                img {
                    width: 28vw;
                    position: absolute;                    
                }
            }

            .petImageBox {
                margin-top: 172px;
                height: calc((28vw * 4/3 + 10vw) * 2 + 28vw * 1.24);

                :nth-child(3) {
                    top: calc(28vw * 2/3 + 10vw);
                }

                :nth-child(4) {
                    top: calc(28vw * 4/3 + 10vw);
                }

                :nth-child(5) {
                    top: calc(28vw * 2/3 + 28vw * 4/3 + 10vw * 2);
                }

                :nth-child(6) {
                    top: calc((28vw * 4/3 + 10vw) * 2);
                }

                :nth-child(7) {
                    top: calc(28vw * 2/3 * 2 + 28vw * 4/3 + 10vw * 3);
                }
            }

            .hobbyImageBox {
                margin-top: 240px;
                height: calc((28vw * 2/3 + 10vw) * 2 + 28vw * 4/3);
                margin-bottom: 120px;

                :nth-child(3) {
                    top: calc(28vw * 2/3 + 10vw);
                }

                :nth-child(4) {
                    top: calc(28vw * 4/3 + 10vw);
                }

                :nth-child(5) {
                    top: calc((28vw * 2/3 + 10vw) * 2);
                }
            }
        }
    }
}