body {
    width: 100%;
    height: 100%;
    position: absolute;

    .screenBackground {
        display: flex;
        justify-content: center;  
        align-items: center;     

        .logo {
            width: 278px;
            height: 79px;
        }
    }
}