body.intro {
    width: 100%;
    height: 300%;
    position: absolute;

    .screenBackground {
        @include topCenterBox;

        .mainTextBox {
            width: $contentWidth;

            margin-top: 172px;
        }
    }
}