body.intro {
    width: 100%;
    height: auto;
    position: absolute;

    .screenBackground {
        @include topCenterBox;

        .introSection {
            @include topCenterBox;
            width: 100%;
            height: 100vh;

            position: relative;

            .mainTextBox {
                width: $contentWidth;

                margin-top: 172px;

                .textBox {
                    margin-bottom: 32px;

                    &:nth-child(2) {
                        margin-bottom: 64px;
                    }

                    p {
                        margin-bottom: 16px;
                    }
                }            
            }

            .bottomBox {
                width: $contentWidth;

                display: flex;
                justify-content: space-between;
                align-items: end;

                position: absolute;
                bottom: 64px;

                .iconBox {
                    a {
                        margin-left: 8px;
                    }
                }
            }
        }

        .abilitySection {
            @include topCenterBox;
            width: 100%;
            height: auto;

            position: relative;

            .mainTextBox {
                width: $contentWidth;
                
                margin-top: 140px;

                .textBox {
                    margin-bottom: 120px;

                    .iconBox {
                        display: flex;

                        i {
                            margin-top: 16px;
                            margin-bottom: 16px;
                            margin-right: 16px; 

                            font-size: 44px;
                            color: $gray3;
                        }
                    }

                    .bottomSpacingBasicText {
                        margin-bottom: 16px;
                    }
                }
            }

            .bottomBox {
                width: $contentWidth;

                display: flex;
                justify-content: space-between;
                align-items: end;

                margin-top: 40px;
                margin-bottom: 64px;
            }
        }

        .certificateSection {
            @include topCenterBox;
            width: 100%;
            height: 100vh;

            position: relative;

            .certificateBox, .languageBox {
                width: $contentWidth;

                .title {
                    margin-bottom: 32px;
                }

                .items {
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;

                    .item {
                        @include centerBox;

                        width: 162px;
                        height: 90px;
                        
                    
                        margin-right: 32px;
                        margin-bottom: 32px;


                        position: relative;
                        
                        img {
                            position:absolute;
                            width: 100%;
                            height: 100%;
                        }

                        .itemTextBox {
                            @include centerBox;

                            position: absolute;

                            .smallText {
                                margin-top: 8px;

                                font-size: 12px;
                            }

                            .scoreText {
                                font-size: 12px;

                                margin-top: 4px;
                            }
                        }
                    }
                }
            }

            .certificateBox {
                margin-top: 140px;
                margin-bottom: 88px;
            }

            .bottomBox {
                width: $contentWidth;
                margin-bottom: 0px;

                display: flex;
                justify-content: space-between;
                align-items: end;

                position: absolute;
                bottom: 64px;
            }
        }

        .valuesSection {
            @include topCenterBox;
            width: 100%;
            height: 100vh;

            position: relative;

            .mainTextBox {
                width: $contentWidth;

                margin-top: 140px;

                .textBox {
                    margin-bottom: 120px;

                    .basicText {
                        margin-bottom: 16px;
                    }

                    .smallText {
                        margin-bottom: 32px;
                    }
                }            

                .textBox:nth-child(2) p:nth-child(1) {
                    margin-bottom: 32px;
                }
            }
        }
    }
}