@mixin opacityFade() {
    transition: opacity 0.15s ease-in;
}

@mixin opacityVisibilityFade() {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@mixin opacityTransformFade() {
    transition: opacity 0.3s, transform 0.3s;
}

@mixin transformFade() {
    transition: transform 0.25s;
}

@mixin transformFadeSlow() {
    transition: transform 0.7s;
}

@mixin colorFade() {
    transition: color 0.2s ease-in-out;
}