/* Basic Setting */
::selection {
    background-color: $gray1;
    color: $white;
}

b {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Text Type */
.basicText {
    font-family: $mainFont;
    font-size: 16px;
    color: $white;
}

.subTitle {
    font-family: $mainFont;
    font-size: 20px;
    color: $white;
}

.linkText {
    a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        span {
            font-family: $mainFont;
            font-size: 14px;
            color: $beige;
        }
    
        img {
            width: 5px;
            height: 10px;
    
            margin-left: 8px;
            margin-bottom: 2px;
        }

        .imgDown {
            width: 10px;
            height: 5px;
        }
    }
}

/* Property */
.screenBackground {
    background-color: $black;
    width: 100%;
    height: 100%;
}

.unSelectable {
    user-select: none;  // 표준
    -webkit-user-select: none;  // Safari, Chrome, Opera
    -moz-user-select: none; // Firefox
    -ms-user-select: none;  // IE 10+
    
    -webkit-user-drag: none;
}

.icon {
    width: 44px;
    height: 44px;
}

.header {
    width: $contentWidth;

    margin-top: 64px;

    display: flex;
    justify-content: space-between;

    position: fixed;
}

