/* Basic Setting */
::selection {
    background-color: $gray1;
    color: $white;
}

b {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Text Type */
.basicText {
    font-family: $mainFont;
    font-size: 16px;
    color: $white;
}

.smallText {
    font-family: $mainFont;
    font-size: 14px;
    color: $gray2;
    line-height: 150%;
}

.subTitle {
    font-family: $mainFont;
    font-size: 20px;
    color: $white;
}

.linkText {
    a, .a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        span {
            font-family: $mainFont;
            font-size: 14px;
            color: $beige;
        }
    
        img {
            width: 5px;
            height: 10px;
    
            margin-left: 8px;
            margin-bottom: 2px;
        }

        .imgDown {
            width: 10px;
            height: 5px;
        }
    }
}

/* Property */
.screenBackground {
    background-color: $black;
    width: 100%;
    height: 100%;
}

.unSelectable {
    user-select: none;  // 표준
    -webkit-user-select: none;  // Safari, Chrome, Opera
    -moz-user-select: none; // Firefox
    -ms-user-select: none;  // IE 10+
    
    -webkit-user-drag: none;
}

.icon {
    width: 44px;
    height: 44px;
}

.smallIcon {
    width: 40px;
    height: 40px;
}

.bigIcon {
    width: 100px;
    height: 100px;
}

.header {
    height: 10px;
    width: $contentWidth;

    margin-top: 64px;

    display: flex;
    justify-content: space-between;

    position: fixed;

    z-index: 10;

    .logoBox {
        position: relative;

        .icon, .iconHovered {
            position: absolute;
        }

        .icon {
            opacity: 1;
            @include opacityFade;
        }

        .iconHovered {
            width: 44px;
            height: 44px;

            opacity: 0;
            @include opacityFade;
        }
    }

    .icon:nth-child(2) {
        @include transformFade;
        position: absolute;
        right: 0;

        &:hover {
            cursor: pointer;
            transform: scale(1, 1.35);
        }
    }
}

.cancelButtonBox {
    width: calc($contentWidth / 2);

    left: 50%;

    margin-top: 64px;

    display: flex;

    justify-content: end;

    position: fixed;

    @include transformFadeSlow;
    transform: translateX(120%);
    height: 100px;
    z-index: 12;

    .cancelIcon {
        @include transformFade;

        position: absolute;
        right: 0;

        width: 44px;
        height: 44px;

        z-index: 12;

        &:hover {
            cursor: pointer;
            transform: scale(1, 1.3);
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $gray5;
    width: calc((100vw - $contentWidth) / 2 + 343px);
    height: 100vh;

    position: fixed;
    right: 0;

    z-index: 11;

    @include transformFadeSlow;
    transform: translateX(100%);

    .topBox {

        margin-top: 172px;
        margin-left: 300px;
        
        .subTitleBox {
            a {
                @include leftFadeLine; 
                display: inline-block;

                margin-bottom: 44px;
            }
        }
    }

    .bottomBox {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: end;
        

        margin-left: 64px;
        margin-bottom: 44px;
    
        .mailBox {
            width: 220px;
            display: flex;
            justify-content: right;
            align-items: center;
            margin-bottom: 32px;

            .mailIcon {
                width: 32px;
                height: 32px;

                margin-right: 8px;
                padding-bottom: 2px;
            }
        }

        .copyRight {
            display: inline-block;
        }
    }
}