@mixin box() {
    display: flex;
    flex-direction: column;
}

@mixin centerBox() {
    @include box;
    justify-content: center;
    align-items: center;
}

@mixin topCenterBox() {
    @include box;
    justify-content: start;
    align-items: center;
}